:root {
	--light-gray: #dbdbdb;
	--white: #fff;
	--black: #000;
	--shadow-gray: #fafafa;
	--darkest-gray: #737373;
	--blue: #4cb4f8;
	--regular-font: 12px;
	--large-font: 14px;
	--font-family: system-ui;
	--fb-color: #385185;
}

* {
	font-family: var(--font-family);
}
